<div class="container">
  <div style="display:flex; flex-direction:row;">
    <div>
      <app-categories></app-categories>
    </div>
    <div>
      <h1>Ajouter une catégorie</h1>
      <form #categorie="ngForm" (ngSubmit)="onSubmit(categorie)">
        <div class="form-group">
          <label for="name">Nom</label>
          <input name="name" ngModel required #name="ngModel">
        </div>
  
        <button type="submit" class="btn btn-success">Submit</button>
  
      </form>
      <div *ngIf="add">Ajouter avec succès</div>
    </div>
</div>