<div id="top" class="starter_container bg">
  <div class="follow_container">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="top-title"> Restaurant</h2>
      <h2 class="white second-title">" Best in the city "</h2>
      <hr>
      <h4 *ngIf="auth.isAuthenticated()" style="color:white;">
        You are logged in!
      </h4>
      <h4 *ngIf="!auth.isAuthenticated()" style="color:white;">
        You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
      </h4>
    </div>
  </div>
</div>

<footer class="sub_footer">
  <div class="container">
    <div class="col-md-4"><p class="sub-footer-text text-center">&copy; Restaurant 2017</p></div>
  </div>
</footer>

