<div id="top" class="starter_container bg">
  <div class="follow_container">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="top-title"> RestaurantIdeas</h2>
      <hr>
      <h4 *ngIf="auth.isAuthenticated()" style="color:white;">
        Vous êtes connectés !
      </h4>
      <h4 *ngIf="!auth.isAuthenticated()" class="loginHome">
        Vous n'êtes pas connecrés ! <a (click)="auth.login()">Connectez-vous</a> pour continuer.
      </h4>
    </div>
  </div>
</div>

<footer class="sub_footer">
  <div class="container">
    <div class="col-md-4"><p class="sub-footer-text text-center">&copy; RestaurantIdeas 2017</p></div>
  </div>
</footer>

