<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RestoIdeas</a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/categories">
          Nos différentes cuisines
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/restaurants">
          Restaurants
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/categories/new"
        *ngIf="auth.isAuthenticated()">
          Ajouter une catégorie de cuisine
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/categories/delete"
        *ngIf="auth.isAuthenticated()">
          Supprimer une catégorie de cuisine
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/restaurants/new"
        *ngIf="auth.isAuthenticated()">
          Ajouter un restaurant
      </button>

      <router-outlet></router-outlet>

    </div>
  </div>
</nav>

