<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BeerIdeas</a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/categories">
          Catégories de restaurants
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/restaurants">
          Restaurants
      </button>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/categories/new">
          Ajouter une catégorie
      </button>

      <router-outlet></router-outlet>

    </div>
  </div>
</nav>

